/* .box{
  border-style: solid;
  height: 10cm;
  width: 20cm;
  margin: auto;
  background-color: red;
  margin-top: 3cm;
}
.box1{
  border-style: solid;
  height: 9cm;
  width: 700px;
  margin: auto;
  margin-top: 15px;
  background-color: blue;
}

.box2{
  border-style: solid;
  height: 8cm;
  width: 650px;
  margin: auto;
  margin-top: 15px;
  background-color: orange;
}

.box3{
  border-style: solid;
  height: 7cm;
  width: 600px;
  margin: auto;
  margin-top: 15px;
  background-color: green;
  text-align: center;
} */



.box{
  height: 400px;
  border: 2px solid ;
  background-color: rgb(189, 179, 179);
  text-align: center; 
 margin: auto;
 padding: 20px 0%;
  /* background-image: url("https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg");   */
overflow: hidden ;
flex-direction: column  ;

}

.content{
  border: 2px solid;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: auto;
  border-color: rgb(173, 153, 153);
  margin: auto;
  padding: 20px 0%;
  color: rgb(255, 251, 251);
}

.content:hover{
  background-color: black ;
}


