/* .div{
   width: 500px;
   height: 500px;
   border: 2px solid red;
   z-index: 2;
   background-color: red;
}
.list{
    border: solid 2px green;
    position: relative;
    bottom: 104px;
    width: 100px;
    height: 100px;
    z-index: 2;
    background-color: green;
}

.pic{
    position: relative;
    border: solid 2px black;
    width: 800px;
    height: 300px;
    left: 400px;
    bottom: 402px;
    z-index: 1;
    background-color: black;
}


.control{
   position: absolute;
   border: solid 2px blue;
   width: 400px;
   height: 100px;
   top: 350px;
   left: 50px;
   background-color: blue;
   z-index: 4;
} */


body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.dem {
    border: 1px solid white;
    width: 300px;
    height: 550px;
    background-color: white ;
    text-align: center;
     margin-inline-start: 500px;
     padding: 10px;
}

button{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  border-radius: 30px;
  padding: 10px 100px ;
  margin: 10px;
  border: none;
}

.dem input{
    border: 0;
    border-bottom: 1px solid;
    padding: 10px 20px;
}

.div a{
    margin-top: 10px;
    margin-left: 130px;
    color: black;
    border: none;
    outline: none;
    text-decoration: none;
}

.dem label{
    margin-right: 130px;
}

input{
    outline: none;
    border: none;
}

.div{
    margin-top: 5px;
}

.lic{
    margin-top: 20px;
}

.icon{
    margin-top: 15px;
}

.icon i{
    margin: 5px;
}
.span{
    margin-top: 50px;
}

