
.box{
  position: relative;
  text-align: center;
  background-color: grey;
  z-index: 4;
  position: sticky;
  top: 10px;
  padding: 10px;
}

.box1 p{
    background-color: aquamarine;
}

.item{
    position: relative;
  text-align: center;
  background-color: grey;
  z-index: 3;
  position: sticky;
  top: 10px;
  padding: 10px;
}

.dem p{
    background-color: aquamarine;
}

.list{
    position: relative;
    text-align: center;
    background-color: grey;
    z-index: 2;
    position: sticky;
    top: 10px;
    padding: 10px;
}

.list_dem p{
    background-color: aquamarine;
}

.meta{
    position: relative;
    text-align: center;
    background-color: grey;
    z-index: 1;
    position: sticky;
    top: 10px;
    padding: 10px;
}

.more_coll p{
    background-color: aquamarine;
}