body{
    margin: 0;
    overflow: hidden;
    background: black;
}

.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvd-logo{
    width: 100px;
    height: 50px;
    position: absolute;
    /* background-color: green; */
    font-size: 40px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move 20s linear infinite;
}

.dvd-logo p{
    animation: color 20s linear infinite;
    border-radius: 50px;
}


@keyframes move {
 0%{top: 50%; left: 100px;}
 25%{top: 0; left: calc(50% - 100px);}
 50%{top: calc(50% - 50px); left: calc(100% - 100px);}
 75%{top: calc(100% - 50px); left: 50%;}
 100%{top: 10%; left: 100px;}
}

@keyframes color {
    0%{color: red;}
    25%{color: blue;}
    50%{color: chartreuse;}
    75%{color: green;}
    100%{color: purple;}
}