body{
    margin: 0;
    overflow: hidden;
    background: black;
}

.container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvd-logo{
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: green;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move 20s linear infinite, colgroup  ;
}

@keyframes move {
 0%{top: 50%; left: 100px;}
 25%{top: 0; left: calc(50% - 100px);}
 50%{top: calc(50% - 50px); left: calc(100% - 100px);}
 75%{top: calc(100% - 50px); left: 50%;}
 100%{top: 10%; left: 100px;}
}
@keyframes colgroup {
    0%{background-color: red;}
    25%{background-color: blue;}
    50%{background-color: chartreuse;}
    75%{background-color: green;}
    100%{background-color: purple;}
}