body{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.container{
    width: 300px;
    height: 300px;
    position: absolute;
     animation: rotate 5s linear infinite ;
}

.dvd{
    width: 60px;
    height: 30px;
    background: url('dvd-logo.png') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translateX(-50%);
    color: blue;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 10px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
